.anchor{
    text-decoration: none !important;
    color: black !important;
}
.books-heading{
    text-align: center;
}
.table{
    margin-top: 5%;
}
.btn-secondary{
    margin-left: 45% !important;
}
.addbook{
    background-color: black;
}

.page{
    margin-top: 5%;
}
.logout{
    margin-left: 172px;
}

